@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");
img {
  max-width: 100%;
  height: auto; }

body {
  background: linear-gradient(to bottom, #33ccff, #ff99cc, #bad4df);
  margin: 0%;
  padding: 0%;
  font-family: 'Sora', sans-serif; }

.header-area {
  background-image: url(../images/research-4170441_1920.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover; }
  .header-area .header-overlay {
    background: rgba(45, 57, 80, 0.7);
    padding: 15px 0; }
    .header-area .header-overlay .navbar ul {
      font-size: 30px;
      margin-left: 20px; }
      .header-area .header-overlay .navbar ul li a {
        padding-left: 20px; }

.slide-area {
  padding: 50px 0; }
  .slide-area .owl-nav button.owl-prev {
    display: none; }
  .slide-area .owl-nav button.owl-next {
    display: none; }
  .slide-area .owl-dots {
    text-align: center; }
    .slide-area .owl-dots button.owl-dot {
      width: 10px;
      height: 10px;
      background: #000000;
      margin: 3px;
      border-radius: 50%; }
    .slide-area .owl-dots button.active {
      background: #ff6565; }

.banner-area {
  margin-top: 100px; }
  .banner-area .banner-text {
    padding-top: 100px; }
    .banner-area .banner-text h2 {
      text-transform: uppercase;
      font-weight: bold; }
    .banner-area .banner-text p {
      text-align: start;
      text-transform: capitalize;
      font-size: 20px;
      font-weight: 500;
      padding-right: 60px; }
    .banner-area .banner-text button a {
      text-decoration: none;
      color: #fff;
      text-transform: capitalize; }
  .banner-area .banner-ph img {
    width: 100%;
    height: auto; }

.service-area {
  margin-top: 170px; }
  .service-area .service-text .text {
    text-align: center;
    text-transform: capitalize;
    font-size: 20px; }
  .service-area .service-text h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold; }
  .service-area .service-content {
    margin: 20px 0; }
    .service-area .service-content .card {
      margin-top: 20px;
      cursor: pointer;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
      transition: 1s;
      background-color: #33ccff; }
      .service-area .service-content .card img {
        width: 110px;
        height: auto;
        margin: 0 auto;
        padding: 15px; }
      .service-area .service-content .card .card-body .card-title {
        text-transform: capitalize; }
      .service-area .service-content .card .card-body .card-text {
        text-transform: capitalize; }

.gallery-area {
  margin-top: 150px; }
  .gallery-area h3 {
    text-align: center;
    font-weight: bold;
    font-size: 35px; }
  .gallery-area p {
    text-align: center;
    font-weight: bold;
    text-transform: capitalize; }
  .gallery-area .gallery-button {
    text-align: center;
    padding: 20px 0; }
    .gallery-area .gallery-button button {
      margin: 0 15px;
      border-style: none; }
  .gallery-area .gallery-content {
    padding: 35px 0; }
    .gallery-area .gallery-content img {
      margin-bottom: 30px; }
  .gallery-area button.active-btn {
    background-color: #fa5d5d;
    color: #fff; }

.contact-area {
  background-image: url(../images/cs4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-top: 30px; }
  .contact-area .contact-overlay {
    background: rgba(75, 81, 90, 0.7);
    padding: 80px 0; }
  .contact-area .section-title {
    text-align: center;
    padding-top: 90px;
    padding-bottom: 15px; }
    .contact-area .section-title h2 {
      color: #fff;
      font-size: 40px; }
    .contact-area .section-title p {
      color: #fff; }
  .contact-area input {
    background: transparent; }
  .contact-area textarea {
    background: transparent; }
  .contact-area ::placeholder {
    color: #fff; }
  .contact-area .form-footer {
    display: flex;
    justify-content: space-between; }
    .contact-area .form-footer .ff-left label {
      color: #fde6e6; }
      .contact-area .form-footer .ff-left label a {
        text-decoration: none;
        color: #fde6e6; }

.footer-area {
  margin: 40px 0; }
  .footer-area h5 {
    font-size: 30px;
    color: #fff; }
  .footer-area h4 {
    color: #fff; }
  .footer-area span {
    font-size: 40px;
    text-align: center;
    color: #fff; }
    .footer-area span a {
      text-decoration: none;
      text-align: center;
      cursor: pointer; }
    .footer-area span i {
      color: #fff;
      padding: 0 20px;
      cursor: pointer; }

.top-arrow {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
  background: #496783;
  padding: 0px 15px;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  z-index: 1; }
  .top-arrow:hover {
    background: #0f1214;
    cursor: pointer; }
  .top-arrow i {
    color: #fff;
    font-size: 25px;
    padding-top: 4px; }
  .top-arrow p {
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding-bottom: 0px; }

.copy-right {
  text-align: center; }
  .copy-right span {
    color: black; }

@media (max-width: 991px) {
  .header-area {
    position: relative; }
    .header-area .header-overlay {
      background: rgba(45, 57, 80, 0.3); }
      .header-area .header-overlay .navbar .navbar-nav .nav-item {
        text-align: center; }
        .header-area .header-overlay .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item {
          text-align: center;
          font-size: 20px; }
  .banner-area {
    margin: 15% 0;
    padding: 0%; }
    .banner-area .banner-text {
      margin-bottom: 30px;
      padding: 0 15px; }
      .banner-area .banner-text h2 {
        text-align: center; }
      .banner-area .banner-text h5 {
        text-align: center; }
      .banner-area .banner-text p {
        text-align: start;
        padding: 0%; }
      .banner-area .banner-text button {
        background-color: #f17d91;
        border: none;
        margin: 0 145px; }
    .banner-area .banner-ph {
      margin: 30px 0; }
      .banner-area .banner-ph img {
        width: 100%;
        height: auto; }
  .service-area {
    margin-top: 0%; }
    .service-area .service-text .text {
      font-size: 15px; }
    .service-area .service-content {
      padding: 10px 0;
      margin: 20px 0; }
      .service-area .service-content .card {
        margin: 20px 0;
        padding: 20px; }
  .footer-area {
    margin: 40px 0; }
    .footer-area h5 {
      font-size: 30px;
      text-align: center; }
    .footer-area h4 {
      padding-top: 40px; }
    .footer-area span {
      font-size: 40px;
      text-align: center; }
      .footer-area span a {
        text-decoration: none;
        text-align: center;
        cursor: pointer; } }
