// font-style
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
// font-family: 'Sora', sans-serif;
img{
    max-width: 100%;
    height: auto;
}
body{
    background: linear-gradient(to bottom, #33ccff , #ff99cc, #bad4df);
    margin: 0%;
    padding: 0%;
    font-family: 'Sora', sans-serif;
}
.header-area{
    background-image: url(../images/research-4170441_1920.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    .header-overlay{
        background: rgba(45, 57, 80, 0.7);
        padding: 15px 0;
        // .logo{
        //     margin: 4px 0;
        //     a{
        //         text-decoration: none;
        //         cursor: pointer;
        //     }
        //     img{
        //         width: 105px;
        //         cursor: pointer;
        //     }
        // }
//    .menu-icon{
//                  display: none;
//         }
        // .menu{
        //     margin: 8px 0;
        //     z-index: 1;
        //     ul{
        //         list-style: none;
        //         margin-bottom: 0%;
        //         display: flex;
        //         justify-content: flex-end;
        //         text-transform: capitalize;
        //         cursor: pointer;
        //         li{
        //             a{
        //                 color: #FCED49;
        //                 text-decoration: none;
        //                 text-transform: capitalize;
        //                 padding: 10px 20px;
        //                 display: block;
        //                 font-size: 20px;
        //                 font-family: 'Abril Fatface', cursive;
        //                 &:hover{
        //                     color: red;
        //                     transition: 0.4s;
        //                 }
        //             }
        //         }
        //     }
        // }
        .navbar{
            ul{
                font-size: 30px;
                margin-left: 20px;
                li{
                    a{
                        padding-left: 20px;
                    }
                }
            }
        }
    }
}
// header-area-end
// slide-area
.slide-area{
    padding: 50px 0;
    .owl-nav{
        button.owl-prev{
            display: none;
        }
        button.owl-next{
            display: none;
        }
    }
     .owl-dots{
            text-align: center;
            button.owl-dot{
                width: 10px;
                height: 10px;
                background: #000000;
                margin: 3px;
                border-radius: 50%;
            }
            button.active{
                background: rgb(255, 101, 101);
            }
        }
    }

.banner-area{
    margin-top: 100px;
    .banner-text{
        padding-top: 100px;
        h2{
            text-transform: uppercase;
            font-weight: bold;
        }
        p{
            text-align: start;
            text-transform: capitalize;
            font-size: 20px;
            font-weight: 500;
            padding-right: 60px;
        }
        button{
            a{
                text-decoration: none;
                color: #fff;
                text-transform: capitalize;
            }
        }
        
    }
    .banner-ph{
        img{
            width: 100%;
            height: auto;
        }
    }
}
.service-area{
    margin-top: 170px;
    .service-text{
        .text{
            text-align: center;
            text-transform: capitalize;
            font-size: 20px;
        }
        h2{
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
        }
        
    }
    .service-content{
        margin: 20px 0;
        .card{
            margin-top: 20px;
            cursor: pointer;
            box-shadow: -0px 0px 5px rgba(0,0,0,.7);
            transition: 1s;
            background-color: #33ccff;
            // &:hover{}
            img{
                width: 110px;
                height: auto;
                margin: 0 auto;
                padding: 15px;
            }
            // i{
            //     font-size: 40px;
            //     padding: 10px 0;
            //     color: #fff;
            //     text-align: center;
            // }
            .card-body{
                .card-title{
                    text-transform: capitalize;
                }
                .card-text{
                    text-transform: capitalize;
                }
            }
        }
    }
}
// gallery-area
.gallery-area{
    margin-top: 150px;
    h3{
        text-align: center;
        font-weight: bold;
        font-size: 35px;
    }
    p{
        text-align: center;
        font-weight: bold;
        text-transform: capitalize;
    }
    .gallery-button{
        text-align: center;
        padding: 20px 0;
        button{
            margin: 0 15px;
            border-style: none;
        }
    }
    .gallery-content{
        padding: 35px 0;
        img{
            margin-bottom: 30px;
        }
    }
    button.active-btn{
        background-color:rgb(250, 93, 93);
        color: #fff;
    }
}
// contact-area
.contact-area{
    background-image: url(../images/cs4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-top: 30px ;
    .contact-overlay{
        background: rgba(75, 81, 90, 0.7);
        padding: 80px 0;
    }
    .section-title{
        text-align: center;
        padding-top: 90px;
        padding-bottom: 15px;
        h2{
            color: #fff;
            font-size: 40px;
        }
        p{
            color: #fff;
        }
    }
    input{
        background: transparent;
        
    }
    textarea{
        background: transparent;
    }
    ::placeholder{
        color: #fff;
    }
    .form-footer{
        display: flex;
        justify-content: space-between;
        .ff-left{
            label{
                color: rgb(253, 230, 230);
                a{
                    text-decoration: none;
                    color: rgb(253, 230, 230);
                }
            }
        }
    }
}
// footer-area
.footer-area{
    margin: 40px 0;
    h5{
        font-size: 30px;
        color: #fff;
    }
     h4{
        color: #fff;
     }
    span{
        font-size: 40px;
        text-align: center;
        color: #fff;
        a{
            text-decoration: none;
            text-align: center;
            cursor: pointer;
        }
        i{
            color: #fff;
            padding: 0 20px;
            cursor: pointer;
        }
        
    }
}
.top-arrow{
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
    background: #496783;
    padding: 0px 15px;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    z-index: 1;
    &:hover{
        background: #0f1214;
        cursor: pointer;
        }
    i{
    color: #fff;
    font-size: 25px;
    padding-top: 4px;
    }
    p{
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding-bottom: 0px;
    }

}
.copy-right{
    text-align: center;
    span{
        color: rgb(0, 0, 0);
    }
}

@media(max-width: 991px){
    .header-area{
        position: relative;
        .header-overlay{
            background: rgba(45, 57, 80, 0.3);
        // .menu-icon{
        //     display: flex;
        //     justify-content: flex-end;
        //     i{
        //         color: rgb(238, 228, 228);
        //         font-size: 25px;
        //         padding: 10px;
        //     }
        // }
        // .menu{
        //     position: absolute;
        //     top: 100%;
        //     left: 0%;
        //     text-align: center;
        //     background:#000;
        //     opacity: 0.5;
        //     width: 100%;
        //     display: none;
        //     margin: 0%;
            
        //     ul{
        //         display: block;
        //         padding: 0%;
        //         li{
        //             a{
        //                 color: #ffeaa7;
        //                 transition: 0.2s;
        //             }
        //         }
        //     }
        // }
        .navbar{
            .navbar-nav{
                .nav-item{
                    text-align: center;
                    .dropdown-menu{
                        .dropdown-item{
                            text-align: center;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
        }
    }
    .banner-area{
        margin: 15% 0;
        padding: 0%;
        .banner-text{
            margin-bottom: 30px;
            padding: 0 15px;
            h2{
                text-align: center;
            }
            h5{
                text-align: center;
            }
            p{
                text-align: start;
                padding: 0%;
            }
            button{
                background-color: #f17d91;
                border: none;
                margin:0 145px;
            }
        }
        .banner-ph{
            margin: 30px 0;
            img{
                width: 100%;
                height: auto;
            }
        }
    }
    .service-area{
        margin-top: 0%;
        .service-text{
            .text{
                font-size: 15px;
            }
        }
        .service-content{
            padding: 10px 0;
            margin: 20px 0;
            .card{
                margin: 20px 0;
                padding: 20px;
            }
        }
    }
    .footer-area{
        margin: 40px 0;
        
        h5{
            font-size: 30px;
            text-align: center;
           
        }
         h4{
             padding-top: 40px;   
             
         }
        span{
            font-size: 40px;
            text-align: center;
            a{
                text-decoration: none;
                text-align: center;
                cursor: pointer;
            }
            
        }
    }
}